.liveHero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
    text-align: center;
    border-top: .1rem solid wheat;
    border-bottom: .1rem solid wheat;
}

.liveHero__title{
    display: block;
    border-top: .1rem solid wheat;
    border-bottom: .1rem solid wheat;
    border-radius: .4rem;
    padding: 0 .5rem;
}