.root{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    height: 100%;
    color: wheat;
    position: relative;
}

.hero{
    background-color: rgba(0, 0, 0, 0.501);
    position: relative;
    height: 100vh;
}

.hero__container{
    position: absolute;
    z-index: -1;
    inset: 0;
}
.hero__image{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

.hero__title{
    font-size: 1.75rem;
    line-height: 1.2;
}

.hero__paragraph{
    text-align: justify;
    color: white;
}

.cta__hero{
    padding: .5rem;
    border-radius: .2rem;
    color: white;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.panel{
    display: flex;
    margin-left: auto;
    width: min-content;
    gap: .4rem;
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 2;
}

.btn__hero{
    font-size: 1.3rem;
    padding: .2rem .6rem;
    border: none;
}

.btn__hero:hover{
    background-color: #fff;
    color: black;
}